.Wrapper {
}

.App {
  color: white;
  display: flex;
  font-family: 'Avenir Next', sans-serif;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

button.started {
  background: #191654;
  border-color: white white white #43c6ac;
  color: white;
}

.border {
  border: .25rem solid white;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

.border.started {
  animation: spin 1s linear infinite;
  border-top-color: #43c6ac;
}

.Tracker {
  background: rgba(0, 0, 0, .25);
  border-radius: .5rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 30rem;
  padding: 1rem;
}
