body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
}

dt {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

dd {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

button {
  background: white;
  border: 0;
  color: #43c6ac;
  border-radius: 50%;
  font-family: 'Avenir Next', sans-serif;
  font-size: 2rem;
  height: 8rem;
  margin: 1rem;
  outline: 0;
  padding: 1rem;
  width: 8rem;
}
